Runtime warning when hitting an endpoint with custom string format property in response

This is how it looks when debugging (the warning in question can be seen in the terminal below):
![image](https://github.com/sinclairzx81/typebox/assets/46678816/1f6e51d3-56bb-4942-a96c-38568c7107b8)

Sometimes I use the same schema for both request and response body (so convenient).
That is how I encountered this issue. By having string property "email" on both request and response, with a custom string format.

### Schema
```
export const userDTOProperties = {
  id: Type.Number(),
  email: Type.String({ format: emailFormat }),
  displayName: Type.String({ minLength: 1, maxLength: 50 }),
  firstName: Nullable(Type.String({ minLength: 1, maxLength: 50 })),
  lastName: Nullable(Type.String({ minLength: 1, maxLength: 50 })),
};

export const userRequestSchema = Type.Object({
  email: userDTOProperties.email,
  displayName: userDTOProperties.displayName,
  firstName: userDTOProperties.firstName,
  lastName: userDTOProperties.lastName,
});

export const userResponseSchema = Type.Object({
  id: userDTOProperties.id,
  email: userDTOProperties.email,
  displayName: userDTOProperties.displayName,
  firstName: userDTOProperties.firstName,
  lastName: userDTOProperties.lastName,
});
```

### Custom format definition
```
const Email =
  /^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$/i;

/**
 * `[ajv-formats]` Internet Email Address [RFC 5321, section 4.1.2.](http://tools.ietf.org/html/rfc5321#section-4.1.2)
 * See: https://github.com/sinclairzx81/typebox/blob/master/examples/formats/email.ts
 * @example `user@domain.com`
 */
const IsEmail = (value: string) => {
  return Email.test(value);
};
export const emailFormat = TypeSystem.Format("[custom format] e-mail", IsEmail);
```

It is weird, since I use Typebox TypeCompiler and TypeSystem. So why is there a warning thrown from _ajv_ code?

If I redefine the email property in the response schema explicitly, this time without the string format, the issue disappears.

One last observation - warning is thrown only on endpoint first invocation after each app restart.

I hope I reported this issue correctly here, in this repository?

- fastify: 4.24.3
- @fastify/type-provider-typebox: 3.5.0
- @sinclair/typebox: 0.31.28
- node: 20.9.0


Oh well, perhaps I made this issue on wrong repository after all. Not quite sure yet.

@StepanMynarik Hi!

All good, although it might be better to submit issues to [fastify-type-provider-typebox](https://github.com/fastify/fastify-type-provider-typebox) for TB / Fastify integration related things in future, but can take a quick look at this here.

So, if you're calling `setValidatorCompiler` (as below) ....

```typescript
const fastify = Fastify().setValidatorCompiler(TypeBoxValidatorCompiler)
```
This should swap out Ajv for TypeCompiler (meaning you shouldn't see Ajv errors) for validation. However, Fastify does use Ajv in other ways, and my guess is that the error you see may originate from `fast-json-stringify` which also uses Ajv for a pre serialization check (i think). 

The dependencies for fast-json-stringify are [here](https://github.com/fastify/fast-json-stringify/blob/master/package.json#L50-L58) noting that both `ajv` and `ajv-formats` are present. 

---

### Workaround

The `IsEmail` check you provided is actually the same regular expression check performed by `ajv-formats`. You should be able to change the following.

```typescript
export const emailFormat = TypeSystem.Format("[custom format] e-mail", IsEmail);

// to

export const emailFormat = TypeSystem.Format("email", IsEmail); // <-- just call it email
```
And this will sync up TypeCompiler to the implementation of Ajv inside fast-json-stringify.
---

So, give this a try. Just note that this information is only relevant if you're calling `setValidatorCompiler` to override Ajv. If you're not overriding Ajv, the error will be due to the unknown format `"[custom format] e-mail"`. 

Hope this helps
S


@StepanMynarik Hi, 

Might close off this issue as Ajv issues are external to TypeBox. If you have any follow up questions, I can try and field them here, but a better place may be on the TypeBoxTypeProvider repo (or Fastify repo) as Ajv questions are generally going to be more applicable there. 

All the best!
S
