Serialization/deserialization considerations

### BLUF
Looking for ways to handle serialization/deserialization in conjunction with this library, or even pointers to alternative libraries or ways to use this one that I haven't realized...

### Goals
I've been going down a rabbit hole again of "libraries like this one" for the related tasks of validation, type-guarding, serialization and deserialization, etc.

What I'd really like is the ability to:
- Create _one_ definition for a type, preferably succinctly and ergonomically
- Obtain a native TypeScript type that can be used in my code
- Have a type guard that can be used to act as a boundary between "unknown/unchecked" data in my code and verified type-safe data
- Have functions to load data into a correct, normalized, type-safe form; preferably also to serialize data to a known format
- **Minimize the pain of serialization and deserialization**
- Robust schema definitions and supporting functionality is a big plus
- Ergonomic editor support for in-code data definition (editor-time type checking, autocomplete, etc)

### Alternatives
- zod seems great, but its performance is poor and it's not really built for simple validation/type guarding due to its "parse, don't validate" premise
- ajv and many others are built primarily for JSON-serializable data, so they get awkward for otherwise-straightforward and common _javascript_ built-ins like Date; typescript interop varies
- io-ts has the right functionality, but its heavy preference for functional programming makes it pretty unergonomic
- joiful-ts and others rely on typescript's experimental decorator / reflection capabilities, which pushes you towards implementing classes instead of interfaces, and are incomplete for generics -- making them awkward for stuff like arrays, maps, and sets
- there are a bunch of not-very-broadly-used options that might be suitable, but of dubious production-readiness. for example, I saw one that looked interesting but had an issue open for "doesn't check null when checking 'typeof foo === 'object''"

Your statement in https://github.com/sinclairzx81/typebox/issues/281 makes plenty of sense: deserialization/coercion is a separate concern from validation. However, of the wealth of available libraries, this library hits almost all of the points (robust, well-used, performant, provides the right tools, and takes the DSL -> {Typescript, runtime functions} approach which is looking to be one of the most developer-ergonomic approaches). It just doesn't seem concern itself with serialization.

### Concrete use-case
A really helpful example is timestamps: you might have an integer (unix epoch time, in seconds, fractional seconds, or milliseconds) or a string (ISO timestamp, various other time formats); in code, you might want this to be normalized to a Date object, a number, a bigint, etc. I'd like to be able to define the "canonical" type for _the data I want to work with in my code_, so I might use:

```ts
const schema = Type.Object({
  timestamp: Type.Date(),
});
```

Now the question is: if I have a json string such as `{"timestamp": 1673204780979}`, how can I explicitly control this process? (Explicitly not an automatic process, such as `new Date(value)`). I know what I _expect_ to receive, what it should become, and how to turn the input data into the output data. However, doing this diligently is either type-unsafe, painfully duplicative, or computationally repetetive.

For example, I could do something icky, type-unsafe, and not a lot of code:
```ts
const parsed = JSON.parse(input);
parsed.timestamp = new Date(parsed.timestamp);
if (Value.Check(schema, parsed)) {
// ...
}
```

Or I could do something type-safe/robust, and duplicative/painful:
```ts
const fileSchema = Type.Object({
  timestamp: Type.String()
});
const schema = Type.Object({
  timestamp: Type.Date(),
});
const input = Value.Create(fileSchema, dataFromFile);
if (Value.Check(input, fileSchema)) {
  const timestamp = moment(input.timestamp, 'YYYY-MM-DD HH:mm').toDate(); // example using moment.js
  const output = {...input, timestamp};
  if (Value.Check(schema, output)) {
    // ...
  }
}
```

This is of course complicated by the fact that you may want to deserialize data from different sources in different formats into the same canonical representation. Taken as a whole, this suggests an interface in the Value module that allows for the user to specify a transformation of zero or more concrete schema elements prior to calling Create/Check/etc. Ideally it's reusable, so that a user can specify "this is the transformation from a database result" vs "this is the transformation from a file" or from an api, etc.

### Potential approaches

The functionality I'm hoping for can be built on top of typebox, but would be a better result with some support from the library itself. If built in to the library (perhaps as part of the Values module, or the TypeCompiler module), I believe it would make this the only library that checks all the boxes.

The "codec" idea from ts-io and other similar libraries might be one way to take it, but it doesn't actually make it easy to deal with "data from multiple sources" if you need to define one codec for each, duplicating some or most of the schema. That would be an okay thing to wind up with, though.

A new function (or extension of Create or Cast) that accepts a set of options controlling deserialization behavior would also be okay, but make it more troublesome to reuse functionality.

An approach that may not align with your directional goals, but which I think would be particularly useful, is to allow extending a schema with a kind of annotation functionality using modifiers (side note: chaining modifiers builder-style would better support composition, rather than wrapping, if the available modifiers grow. I am not sure how ergonomic this is without a chaining-style syntax):

```ts
const schema = Type.Object({
  timestamp: Type.Date().Codec(
    'foo-api', // this could be a symbol, or a reference to a class instance of some kind, etc.
    (ts: string) => moment(input.timestamp, 'YYYY-MM-DD HH:mm').toDate(),
    (ts: Date) => moment(ts).format('YYYY-MM-DD HH:mm'),
  ),
  event: Type.String()
});
// errors may be handled various ways, but returning a discriminated union or throwing an error are most common?
const record = Value.Deserialize(schema, 'foo-api', unknownData); 

// or as some kind of class instance
const codec = createCodec('foo-api', { /* ... options? ... */ });
const schema = Type.Object({
  timestamp: Type.Date().Codec(
    codec,
    (ts: string) => moment(input.timestamp, 'YYYY-MM-DD HH:mm').toDate(),
    (ts: Date) => moment(ts).format('YYYY-MM-DD HH:mm'),
  ),
  event: Type.String()
});
// errors may be handled various ways, but returning a discriminated union or throwing an error are most common?
const record = codec.Deserialize(schema, unknownData); 

```

The applicable syntax can be accomplished various ways, but teh approach covers a few meaningful goals:

- Define serialization/deserialization behavior explicitly
- Colocate the behavior with the schema itself
- Define the behavior only where necessary
- Allow defining more than one context/kind of serialization, separately from actually applying it
- Codec bindings are only data annotated on a specific type, and can be ignored when generating json schema specifications. Or, could be defined in terms of the Type module so that multiple json schemas can be generated from a typebox schema on request

The ability to add annotations would also support 

It's possible that the ability to build something like this on top of typebox would only require minimal (and backwards-compatible) change to the schema building functionality: essentially the abilities to "associate arbitrary context with a type" and "hook into the compiling/values behavior".

### Related

- https://github.com/sinclairzx81/typebox/issues/289 interacts with some of the ideas presented here
- The general idea of "associating data with a schema type" can be applied to description data; currently, this data can be passed in as JSON-schema properties, but understanding it more natively might support i18n in more than just error messages (for example, creating the ability to generate human-useful documentation from a schema, useful for creating command-line interfaces, config file examples, webpages, etc.). In conjunction with method-chaining, it's easy to see something like `Type.String().describe(/*string, i18n reference, etc...*/`

### Conclusion

I apologize in advance if this is already possible and I just haven't figured out how to do it. I hope the issue lays out an understandable need and enough of a case for support in this library to be worth consideration :)

If you're generally positive towards code in this direction, I may be able to contribute towards implementation with some guidance depending on the lift


@myndzi Hi, this is a really long issue :) Let me try and address things from the TypeBox perspective.

## Schematics vs Validation

So, TypeBox needs to treat type composition (schematics) and serialization as separate concerns. The reason for this is because there are many ways to serialize a value but only one way to express a type. The formats XML, JSON, MessagePack | CBOR, Protocol Buffers, CSV are all common ways to encode a value...but JavaScript will only observe the value post deserialization in which case validation of that value is required to assert deserialization produced a correct value. TypeBox tries to align to what the JavaScript program would ultimately see "post" deserialization; but ignores the mechanisms are used to deserialize (which would lead to cross cutting concerns). In other words, it expects the deserialization process to produce correct values always.

For example.

```
                                         |
         Various Codecs | Formats        |             TypeBox
		                         |
    ┌─────────┐          ┌────────┐      |   Only concerned with the result
    │ xml     │ -[raw]-> │ decode │      |     of a deserialaization step.
    └─────────┘          └────────┘      |
        (RFC 7303 application/xml) \     |
                                    \    |
    ┌─────────┐          ┌────────┐  \   |          ┌──────────┐
    │ json    │ -[raw]-> │ decode │ --[value]-----> │ validate │
    └─────────┘          └────────┘  /   |          └──────────┘
        (RFC 4627 application/json) /    |
                                   /     |
    ┌─────────┐          ┌────────┐      |       Value.Check(T, value)
    │ cbor    │ -[raw]-> │ decode │      |
    └─────────┘          └────────┘      |
       (RFC 8949 application/cbor)       |
```

## Types with Codecs

While TypeBox could in theory add `.Codec()` like functionality as part of the TypeCompiler and Value modules (not the `Type` because this is merely JSON Schema), such a post deserialization Codec might only be applicable to one of many possible formats. For example, adding a Codec to handle Date coercion for JSON may not be necessary for XML or CBOR (MessagePack) as they do handle Date serialization as part of their formats (albeit with XSD `xs:datetime` in the XML case)

It's for this reason the `Type.Date().Codec(...)` is not really possible for applications that needs to work across a variety of different message encoding schemes (where the Type needs to be representative of values decoded from any format). Adding a codec to a lessor format (i.e. JSON) would break other formats that do not need explicit coercion of values, this if applying the codec to the type, or may introduce significant cross cutting (where the codec may need to know the mime type)

> For an example of a project that does operates across multiple formats without requiring user defined codecs, have a look at https://github.com/sinclairzx81/sidewinder which is a downstream project from TypeBox and uses both JSON and MessagePack formats (and where MessagePack is typically used in cases where JSON cannot adequately encode certain values)

## Message Format Capabilities

As mentioned above, there are other options for message encoding above and beyond JSON. For some historical insight, the  `Type.Date()` and `Type.Uint8Array()` were basically added as extension types to TypeBox simply because MessagePack supports serialization of these values (and I use this format a lot). But using a different message encoding format other than JSON can help with smoothing over some of the issues with Date (and other) value serialization issues. 

Consider the following.

```typescript
import { encode, decode } from '@msgpack/msgpack'

const encoded = encode({
    time: new Date(12345),
    date: new Uint8Array([1, 2, 3, 4, 5])
})

console.log(decode(encoded)) // {
                             //  time: 1970-01-01T00:00:12.345Z,
                             //  date: Uint8Array(5) [ 1, 2, 3, 4, 5 ]
                             // }
```
> Because there are other formats better equipped than JSON to handle Dates and Buffers (and other data structures), rather than forcing applications downstream to manually coerce values (as would be the case for JSON), TypeBox is very much aligned to the idea that if you need to encode certain values; and you discover the underlying format (i.e. JSON) doesn't support that value, this is usually a good signal one should swap to a format that does. In all though, the need to review the encoding format is partly a requirement due to JavaScript not having a strong type system to deserialize into, so you sorta need to rely more on the format being capable of encoding things in the way you expect (in my experience anyway)

## Casting

TypeBox does recognize that there are legitimate reasons to want to convert / coerce values from one type to another above and beyond format encoding. Examples of this would be configuration loading or resolving environment variables (of which these are all strings). To keep type composition and validation separate, TypeBox instead provides a `Value.Cast()` function that will try to coerce values with the view of "retaining as much information as possible"



```typescript
import { Value } from '@sinclair/typebox/value'
import { Type } from '@sinclair/typebox'

const value = Value.Cast(Type.Date(), '2023-01-02T00:00:12.345Z')
// ^ value is Date
```
> Note: Date conversion was just added on `0.25.18`. 

## Summary

I do understand the motivation to want to include value coercion on TypeBox types, but this is somewhat against some of the design principles of the library (which is to keep schematics and logic separated). While the library offers the `Value.Cast` as a flexible option for some scenarios, TypeBox does push back on the encoding / decoding layer to ensure that whatever is deserializing values, is deserializing the correct values. Issues with JSON date encoding are a problem of course, but without a formal specification for how dates should be encoded in JSON, this unfortunately needs to be a down level consequence in end user applications until a standard emerges (or developers swap to better message encoding schemes)

Happy to discuss this more in depth, but hope this provides some insights in to the TypeBox perspective. 
Cheers!
S




Apologies for the lengthy opening post, I just wanted to lay out all the information rather than go back and forth a lot :) Thanks for reading and responding!

I agree with your points, but I think the resultant argument that "you have a problem? just change your data serialization layer" is a bit optimistic. I was citing dates in JSON as a concrete example, but often in programming you don't get a choice of how to encode the data. I wouldn't want to make a msgpack config format, for example. I deal with REST APIs reasonably frequently that return JSON, and there's nothing I can do about that either. 

It's precisely _because_ "there are many ways to serialize a value but only one way to express a type" that I'm looking for a way to do more than just "turn unknown data into a concrete, well-typed representation". I'm explicitly _not_ asking for "one magic function that does everything", but rather "the ability for (me, the developer) who knows what data is going in" to specify how it should be transformed so that it will end up being the correct type. Without a little help from typebox, it gets very redundant (code-efficiency wise, and lines-of-duplicated-code wise) to do that nicely; this is because typebox already has the schema and the code to do _almost everything necessary_, and therefore if it can't help me get that final 5% I have to either do it all again with some other library or in an ad-hoc way.

The idea about defining "one or more codecs" on specific values/fields of a schema was more about "attaching the relevant information in a way that can be retrieved and used", where a supporting function would allow the user to select "which" codec to use to deserialize some data. That supporting function doesn't seem to be the kind of work you want this library to do, which is of course, at your discretion -- though it would be nice to have out of the box.

Would you be amenable to some mechanism for just associating some arbitrary user-defined context (not to be included in the JSON schema) with the schema-types in this way, and perhaps providing a way to hook into the validation process (e.g. a function that would accept "a schema" and "a piece of data" during the "cast" process? That might look like a callback function that receives "a value" and its associated schema (including the user-defined context) and either return the correctly-typed value or respond that it couldn't, allowing for the current behavior of "cast" to be maintained.

This would be enough to fairly straightforwardly build something downstream that accomplishes the goal I've described, though it'd be nicer if/once "cast" and "check" were combined into the same process to avoid traversing the whole thing twice (which matters more for complex data blobs)

@myndzi Fair points.

TypeBox is somewhat open to suggestions on how to achieve this functionality, it's just that augmenting types with Type.Date().Codec(...) is a bit of a no go zone as the return values must be JSON schema only (so no functions can be bound on the return value). This is for Ajv 7 compliance (strict) as well as adhering to the principle of separating schematics from validation and other such logic. This functionality would need to be implemented differently.....

While data coercion and mapping values on behalf of formats is a treading into "out of scope" territory for the library (and I still feel this is best implemented as part of the encoding format), I've put together a very quick reference implementation to gauge what such functionality "could" look like if following the design principles of TypeBox..

### Reference Codec Implementation

You should be able to copy and paste the code below into a project with TypeBox installed. The implementation uses the TypeCompiler to check encoded and decoded values (and will throw on error). It also implements a typical type traversal used on other parts of the library. The algorithm will pass both schema and value into a given mapping function during traversal which can either return a mapped value (for example, converting `Date` into `number` timestamps) or original value.

This implementation provides two exported functions from the namespace, `Encoder` and `Decoder` which return encoder/decoder functions respectively for a given type (and references). This implementation should also support user defined types. You can expand the section below.

<details>
  <summary><strong>Expand Reference Codec Implementation</strong></summary>

```typescript
// ---------------------------------------------------------------------------
// REFERENCE IMPLEMENTATION (LARGELY UNTESTED)
// ---------------------------------------------------------------------------

import { TypeCompiler } from '@sinclair/typebox/compiler'
import { Value } from '@sinclair/typebox/value'
import { Custom } from '@sinclair/typebox/custom'
import * as Types from '@sinclair/typebox'

export interface CodecMappingFunction {
  (schema: Types.TSchema, value: unknown): unknown
}
export namespace Codec {
  function Any(schema: Types.TAny, references: Types.TSchema[], value: any, map: CodecMappingFunction): unknown {
    return map(schema, value)
  }
  function Array(schema: Types.TArray, references: Types.TSchema[], value: any, map: CodecMappingFunction): unknown {
    const mapped = map(schema, value)
    if (!globalThis.Array.isArray(mapped)) return mapped
    for (let i = 0; i < mapped.length; i++) {
      mapped[i] = Visit(schema, references, value, map)
    }
    return mapped
  }
  function Boolean(schema: Types.TBoolean, references: Types.TSchema[], value: any, map: CodecMappingFunction): unknown {
    return map(schema, value)
  }
  function Constructor(schema: Types.TConstructor, references: Types.TSchema[], value: any, map: CodecMappingFunction): unknown {
    return map(schema, value)
  }
  function Date(schema: Types.TDate, references: Types.TSchema[], value: any, map: CodecMappingFunction): unknown {
    return map(schema, value)
  }
  function Function(schema: Types.TFunction, references: Types.TSchema[], value: any, map: CodecMappingFunction): unknown {
    return map(schema, value)
  }
  function Integer(schema: Types.TInteger, references: Types.TSchema[], value: any, map: CodecMappingFunction): unknown {
    return map(schema, value)
  }
  function Literal(schema: Types.TLiteral, references: Types.TSchema[], value: any, map: CodecMappingFunction): unknown {
    return map(schema, value)
  }
  function Never(schema: Types.TNever, references: Types.TSchema[], value: any, map: CodecMappingFunction): unknown {
    return map(schema, value)
  }
  function Null(schema: Types.TNull, references: Types.TSchema[], value: any, map: CodecMappingFunction): unknown {
    return map(schema, value)
  }
  function Number(schema: Types.TNumber, references: Types.TSchema[], value: any, map: CodecMappingFunction): unknown {
    return map(schema, value)
  }
  function Object(schema: Types.TObject, references: Types.TSchema[], value: any, map: CodecMappingFunction): unknown {
    const mapped = map(schema, value)
    if (typeof mapped !== 'object' || mapped === null) {
      return mapped
    }
    for (const key of globalThis.Object.getOwnPropertyNames(mapped)) {
      if (schema.properties[key] === undefined || mapped[key] === undefined) continue
      mapped[key] = Visit(schema.properties[key], references, mapped[key], map)
    }
    return mapped
  }
  function Promise(schema: Types.TPromise<any>, references: Types.TSchema[], value: any, map: CodecMappingFunction): unknown {
    return map(schema, value)
  }
  function Record(schema: Types.TRecord<any, any>, references: Types.TSchema[], value: any, map: CodecMappingFunction): unknown {
    const mapped = map(schema, value)
    if (typeof mapped !== 'object' || mapped === null) {
      return mapped
    }
    const patternPropertyKeys = globalThis.Object.keys(schema.patternProperties)
    const patternPropertySchema = schema.patternProperties[patternPropertyKeys[0]]
    for (const key of globalThis.Object.getOwnPropertyNames(mapped)) {
      mapped[key] = Visit(patternPropertySchema, references, mapped[key], map)
    }
    return mapped
  }
  function Ref(schema: Types.TRef<any>, references: Types.TSchema[], value: any, map: CodecMappingFunction): unknown {
    const reference = references.find((reference) => reference.$id === schema.$ref)
    if (reference === undefined) throw new Error(`Codec.Ref: Cannot find schema with $id '${schema.$ref}'.`)
    return Visit(reference, references, value, map)
  }
  function Self(schema: Types.TSelf, references: Types.TSchema[], value: any, map: CodecMappingFunction): unknown {
    const reference = references.find((reference) => reference.$id === schema.$ref)
    if (reference === undefined) throw new Error(`Codec.Self: Cannot find schema with $id '${schema.$ref}'.`)
    return Visit(reference, references, value, map)
  }
  function String(schema: Types.TString, references: Types.TSchema[], value: any, map: CodecMappingFunction): unknown {
    return map(schema, value)
  }
  function Tuple(schema: Types.TTuple<any[]>, references: Types.TSchema[], value: any, map: CodecMappingFunction): unknown {
    const mapped = map(schema, value)
    if (!globalThis.Array.isArray(mapped) || mapped.length !== schema.minItems) return mapped
    for (let i = 0; i < mapped.length; i++) {
      mapped[i] = Visit(schema.items![i], references, mapped[i], map)
    }
    return mapped
  }
  function Undefined(schema: Types.TUndefined, references: Types.TSchema[], value: any, map: CodecMappingFunction): unknown {
    return map(schema, value)
  }
  function Union(schema: Types.TUnion<any[]>, references: Types.TSchema[], value: any, map: CodecMappingFunction): unknown {
    return map(schema, value) // not sure what to do about unions
  }
  function Uint8Array(schema: Types.TUint8Array, references: Types.TSchema[], value: any, map: CodecMappingFunction): unknown {
    return map(schema, value)
  }
  function Unknown(schema: Types.TUnknown, references: Types.TSchema[], value: any, map: CodecMappingFunction): unknown {
    return map(schema, value)
  }
  function Void(schema: Types.TVoid, references: Types.TSchema[], value: any, map: CodecMappingFunction): unknown {
    return map(schema, value)
  }
  function UserDefined(schema: Types.TSchema, references: Types.TSchema[], value: any, map: CodecMappingFunction): unknown {
    return map(schema, value)
  }
  function Visit<T extends Types.TSchema>(schema: T, references: Types.TSchema[], value: any, map: CodecMappingFunction): unknown {
    const anyReferences = schema.$id === undefined ? references : [schema, ...references]
    const anySchema = schema as any
    switch (anySchema[Types.Kind]) {
      case 'Any':
        return Any(anySchema, anyReferences, value, map)
      case 'Array':
        return Array(anySchema, anyReferences, value, map)
      case 'Boolean':
        return Boolean(anySchema, anyReferences, value, map)
      case 'Constructor':
        return Constructor(anySchema, anyReferences, value, map)
      case 'Date':
        return Date(anySchema, anyReferences, value, map)
      case 'Function':
        return Function(anySchema, anyReferences, value, map)
      case 'Integer':
        return Integer(anySchema, anyReferences, value, map)
      case 'Literal':
        return Literal(anySchema, anyReferences, value, map)
      case 'Never':
        return Never(anySchema, anyReferences, value, map)
      case 'Null':
        return Null(anySchema, anyReferences, value, map)
      case 'Number':
        return Number(anySchema, anyReferences, value, map)
      case 'Object':
        return Object(anySchema, anyReferences, value, map)
      case 'Promise':
        return Promise(anySchema, anyReferences, value, map)
      case 'Record':
        return Record(anySchema, anyReferences, value, map)
      case 'Ref':
        return Ref(anySchema, anyReferences, value, map)
      case 'Self':
        return Self(anySchema, anyReferences, value, map)
      case 'String':
        return String(anySchema, anyReferences, value, map)
      case 'Tuple':
        return Tuple(anySchema, anyReferences, value, map)
      case 'Undefined':
        return Undefined(anySchema, anyReferences, value, map)
      case 'Union':
        return Union(anySchema, anyReferences, value, map)
      case 'Uint8Array':
        return Uint8Array(anySchema, anyReferences, value, map)
      case 'Unknown':
        return Unknown(anySchema, anyReferences, value, map)
      case 'Void':
        return Void(anySchema, anyReferences, value, map)
      default:
        if (!Custom.Has(anySchema[Types.Kind])) throw new Error(anySchema)
        return UserDefined(anySchema, anyReferences, value, map)
    }
  }
  /** Creates a value encoder that maps values into some encoded form */
  export function Encoder<T extends Types.TSchema, R extends Types.TSchema[]>(schema: T, references: [...R], map: CodecMappingFunction) {
    const typeCheck = TypeCompiler.Compile(schema, references)
    return (value: Types.Static<T>) => {
      if (!typeCheck.Check(value)) {
        const errors = [...typeCheck.Errors(value)].map(error => `'${error.path}' ${error.message}`).join('. ')
        throw Error(`Codec: Cannot encode value. ${errors}`)
      }
      return Visit(schema, references, Value.Clone(value), map)
    }
  }
  /** Creates a value decoder that maps encoded values into the target type */
  export function Decoder<T extends Types.TSchema, R extends Types.TSchema[]>(schema: T, references: [...R], map: CodecMappingFunction) {
    const typeCheck = TypeCompiler.Compile(schema, references)
    return (value: unknown): Types.Static<T> => {
      const decoded = Visit(schema, references, Value.Clone(value), map)
      if (!typeCheck.Check(decoded)) {
        const errors = [...typeCheck.Errors(decoded)].map(error => `'${error.path}' ${error.message}`).join('. ')
        throw Error(`Codec: Cannot decode value. ${errors}`)
      }
      return decoded
    }
  }
}
```
</details>

### Example Usage

The following is the example usage which converts a dates into numbers and back to dates. The `TypeGuard` is used to check the schematic passed on the mapping function. For encoding you can trust the value is of the correct type (as it's type checked prior to being mapped), for the decode, you may need to have careful value checking. 

Example implementation below

```typescript
import { TypeGuard } from '@sinclair/typebox/guard'
import { Type } from '@sinclair/typebox'
import { Codec } from './codecs' // the code above

// -----------------------------------------------------------------
// Type: Customer
// -----------------------------------------------------------------
const Customer = Type.Object({
  name: Type.String(),
  created: Type.Date(),
})

// -----------------------------------------------------------------
// CustomerEncoder: Maps dates into timestamps
// -----------------------------------------------------------------
const CustomerEncoder = Codec.Encoder(Customer, [], (schema, value: any) => {
  if(TypeGuard.TDate(schema)) {
    return value.getTime() // remap date to timestamp
  }
  return value // default
})

// -----------------------------------------------------------------
// CustomerDecoder: Maps timestamps into dates
// -----------------------------------------------------------------
const CustomerDecoder = Codec.Decoder(Customer, [], (schema, value: any) => {
  if(TypeGuard.TDate(schema)) {
    return new Date(value) // remap timestamp to date
  }
  return value // default
})

// -----------------------------------------------------------------
// Example
// -----------------------------------------------------------------
const encoded = CustomerEncoder({ name: 'dave', created: new Date() })
const decoded = CustomerDecoder(encoded)
console.log('encoded', encoded)
console.log('decoded', decoded)
```

This "should" do what you need it to, however including this implementation in TypeBox is very much tending towards out of scope. I could however potentially provide an example implementation with some additional testing, but it's questionable if this functionality should be part of TypeBox itself. Implementers are somewhat expected to write introspection code of this sort, so rather than implementing a codec outright, I would be more open to a generalized type traversal utility to make implementing the above a bit easier for end users.

With this said, does the above implementation get close to what you're looking for in terms of functionality?

Wow, I really appreciate you taking the time to do this. I think the key point in your comment is: "implements a typical type traversal used on other parts of the library" - this is valuable already, and can be hard for some rando like me to just "figure out".

I'll have to take some time to explore what you've written here and truly grok what it's doing, but it definitely seems within range: it's "ergonomic enough", handles the concern, and I think could be helpful to others in the same boat as me.

Given what you've said so far (disinclination towards expanding scope), I think "a generalized type traversal tool" would be quite acceptable, and I'm not inclined to ask for more than that. If I could myself write what you did without it taking 200 lines of code and/or being full of "unknown unknown" style gotchas that I'd have to really understand the library internals to get right, I'd be good with that.

I totally get/respect the desire to set good boundaries for the goal of your project. It's important both for you as the maintainer, and your users :)

An aside re: "must return an object" - I checked a thing earlier, and there's a bit of a trick you can do should you want it in the future. (Not really a trick, it's kind of how prototypal inheritance is supposed to work anyway?) If you decided that it was worth creating a chaining syntax for either user ergonomics or avoiding the need to multiplicatively define all combinations of Modifier, you can likely [do it like this](https://www.typescriptlang.org/play?#code/C4TwDgpgBAQgrgSwDYBMICcoF4oAoD2ARgFYBcUAhgHYgCU2AfLIqhgNwBQHAZnFQMbAE+KlAgAPYBCooAPABUxk6SgDOUAN4BfADRQAqkqkz12hrjDp8YVeXm1yuYAAsEtg-SxNQkfNygAtvgoCNwIGKYcUNFQ6BDAcOiivAJCIngubuT6DlA+EH6BwaHh6JExFbHxiaIA8iQQggB0FKqqCADmVLhBIWERepmqepbWqrScFVqcWlz8IqrARX2l6jgaUVC1YGlUFEjkEsYouBoARNa7+2fkwOhwEFq0OpsAShAUKLVUSCCHyjJTmc4p8RL8bnl7o9aBxpnMFktuPh8Ngtg1mvwQVIesV+mU9Np6K08uACv5eiUIpx5lRFlBCBRMDgkfgmtsrkhcLQmu9Pt9flzOBwaap8EgIE0kPgOrgGegJkA)

The types and naming can probably be tightened up, but the idea is to create an object with the "chainable" methods and set it as the prototype of the "plain" objects used in the schema itself. There's a helper to sorta-curry the object properties you want the chaining method to assign, and it then returns a new object, with the same "chainable" prototype but with the new properties applied.

Thoughts after playing with it a bit:

- It might be nice to directly provide a way to push to the errors away from the traversal callback, if you decide to implement traversal. In that way, it might be seen more like a reduce function than a map function: a more general tool that specific tools can be built from. This would enable the user to deal with concerns specific to the encoding/decoding process, and provide more useful error messages/feedback.

- The all-or-nothing nature of the encoder's awareness of its location in the schema is a bit unfortunate: it's tricksome to deal with complex objects without some way to identify "the path to here". It's not a great example, but think "foo.created" is an epoch and "foo.user.birthday" is a date (no time component) like YYYY-MM-DD, for an example of why the concrete type (a Date) might be serialized in different ways that aren't 1-to-1 with the JS type.

Overall, user-friendly / convenient traversal is enough to get somewhere, but I came up with a few different ideas/interfaces that help with the "addressing" problem, and/or the "storing user-specified context" idea, which don't require prototype shenanigans. What are your thoughts on one of these approaches?

---

Since the schema objects returned by the TypeBuilder methods are strictly equal to those passed into the encoder in your example traversal code, you can actually check whether the value you're acting on is associated with a specific element of your schema. One way to do this with no API change is to keep a reference to the item, but it's a bit awkward:

```ts
const birthday = Type.Date();
const created = Type.Date();
const User = Type.Object({
  created,
  user: Type.Object({
    birthday
  }),
});

// ...

const UserEncoder = Codec.Encoder(Customer, [], (schema, value: any) => {
  if (schema === created) return value.getTime();
  if (schema === birthday) return value.toDateString();
});
```

That property (`schema` in traversal being strictly equal to the return value of a TypeBuilder method) does suggest to me some other options, though:

Accept a second argument and store it in a Map keyed by the schema object. Then, on traversal, supply it to the callback:

```ts
const User = Type.Object({
  created: Type.Date(null, {moment: "X"}),
  user: Type.Object({
    birthday: Type.Date(null, {moment: "YYYY-DD-MM"}),
  }),
});

// ...<example implementation of traversal>...
    function Date(schema: Types.TDate, references: Types.TSchema[], value: any, map: CodecMappingFunction): unknown {
        return map(schema, value, context.get(schema));
    }

// ... <example usage>
const CustomerEncoder = Codec.Encoder(Customer, [], (schema, value: any, context: any) => {
    if (TypeGuard.TDate(schema) && typeof context?.moment === 'string') {
        return moment(value).format(context.moment);
    }
    return value; // default
});
```

This could also be a function that stores the context in a symbol key or something, so that it can be safely decoupled from the "options" while not requiring awkward positional nulls:

```ts
const Context: unique symbol = Symbol('Context');

function AddContext<T extends {}, U extends {}>(context: U, options?: T): T & {[Context]: U} {
    return {[Context]: context, ...options};
}

const User = Type.Object({
    // example of one-arg AddContext
    created: Type.Date(AddContext({moment: 'X'})),
    user: Type.Object({
        // example of two-arg AddContext
        birthday: Type.Date(AddContext({moment: 'YYYY-MM-DD'}, {format: 'date'}))
    })
});

class TypeBuilder {
    Date({[Context]: ctx, ...options} = {[Context]: null}) {
        return this.Create({ ...options, [exports.Kind]: 'Date', type: 'object', instanceOf: 'Date' });
    }
}
```

I also considered maybe a "hook" form, but while not a performance concern at the type-building stage, it would require some kind of path behavior and still have the maintenance burden of having to align structurally with the schema:

```ts
const context: Map<any, any> = new Map();
const tb = new TypeBuilder({
  onCreate: (schema, path) => {
    switch (path) {
      case '.timestamp':
        context.set(schema, 'X');
        break;
      case '.user.birthday':
        context.set(schema, 'YYYY-MM-DD');
        break;
    }
  }
});

const User = tb.Object({
  created: tb.Date(),
  user: tb.Object({
    birthday: tb.Date()
  })
});
```

The "hook" approach could potentially be seen as a kind of "options processor" instead, which would allow a user (not the library) to handle the concern of whether and how to pack/unpack the context from the arguments to the TypeBuilder methods:

```ts
const Format: unique symbol = Symbol('Format');
const formats: Map<any, any> = new Map();

const tb = new TypeBuilder({
  onCreate: (schema, {[Format]: format, ...options}) => {
    formats.set(schema, format);
    return options; // no longer contains the `Format` symbol-key
  }
});

const User = tb.Object({
  created: tb.Date({[Format]: 'X'}),
  user: tb.Object({
    birthday: tb.Date({[Format]: 'YYYY-MM-DD'})
  })
});
```


BLUF: I got where I wanted to go without TypeBox's help (perhaps in spite of it in some ways)

I wound up finding my way to a solution that doesn't technically require any library support from typebox at all; you can see an idea of what it looks like here: https://github.com/myndzi/typebox-codec/tree/wip

<details>
<summary>Example general use</summary>

```ts
const testSchema = Type.Object({
  ts: Apply(
    Type.Date(),
    Transform(CEpoch, Decode, momentParse('x')),
    Transform(CDate, Decode, momentParse('YYYY-MM-DD')),
  ),
  foo: Apply(
    Type.Enum(Foo),
    Transform(CAny, Decode, (v: string) => (Foo as any)[v]),
    Transform(CAny, Encode, (v: Foo) => Foo[v]),
  ),
  password: Apply(
    Type.Optional(Type.String()),
    Transform(CRedact, Encode, () => '[redacted]'),
  ),
});

let decoded = CEpoch.Transform(Decode, testSchema, {
  ts: 1673870703793,
  foo: 'B',
  password: 'hunter2',
});
console.log(decoded);
console.log(Value.Check(testSchema, decoded));

let encoded = CRedact.Transform(Encode, testSchema, decoded);
console.log(encoded);

const CEmpty = new Codec('Empty', Decode);
console.log(CEmpty.Transform(Decode, testSchema, decoded));

decoded = CDate.Transform(Decode, testSchema, { ts: '2023-01-16', foo: 'A' });
console.log(decoded);
console.log(Value.Check(testSchema, decoded));
```

</details>

Very WIP, and not yet sure if I have the time to make it a realeasable library. `Apply` will associate one or more annotations with a schema object, while `Transform` defines a function with respect to a codec and a transformation. There's also an abbreviated form that uses a multi-call function syntax I'm not sure I'm happy with:

<details>
<summary>Example</summary>

```ts
const testSchema = Type.Object(
  {
    ts: Apply(
      Type.Date(),
      encode((v: Date) => v.toISOString()),
      decode(v => new Date(v)),
    ),
    foo: Apply(
      Type.Enum(Foo),
      encode((v: Foo) => Foo[v]),
      decode((v: string) => (Foo as any)[v]),
    ),
  }
);

var encoded = encode(testSchema, { ts: new Date(), foo: Foo.A });
console.log(encoded);
var decoded = decode(testSchema, encoded);
console.log(decoded);
```

</details>

For simple "exactly one codec" schemas, this cuts out the extra wiring, leading to a terser definition.

Also in the repo (and likely to be broken out, if I make anything publishable from this) is an initial go at traversing a (non-typebox) JSON schema in a way that produces human-meaningful paths with respect to the shape of the data-to-be-verified (as opposed to the path to the data in the schema doc). I hope to see if I can integrate the codec traversal behavior with that (more-robust) json-schema traversal, making it agnostic to TypeBox.

None of this code was exactly straightforward to accomplish in a correct and robust way, so I hope it can be seen that there's a useful need here. If you have an interest, the code is all MIT; feel free to take the code, or inspiration from it, if you do decide to build something for TypeBox. (It's a bit of a mess, mostly because I was just trying to make it work and haven't gotten around to

Feel free to close the issue, I'm far enough along that I can accomplish my original goals at least, whether or not I publish anything down the road...

@myndzi Hi, apologies for the delay in reply. Have been a bit busy recently.

Yeah, I have given this some more thought, and the more I think about it, the more I think this functionality really does belong auxiliary to TypeBox. Again the reason is because encoding and decoding is a very distinct operation one needs to do and it's not really a one size fits all (given there are many encoding formats), and providing singular hooks on TB types breaks concerns; and overall the domain of encoding is very much distinct from type composition and/or validation. It's tempting to make TypeBox do everything, but not at the expense of overloading the library with "too much functionality", especially as there are better technologies available to handle message encoding today (ProtoBuf, MessagePack, CBOR, etc). At best this functionality could be offered as an example for niche cases, but couldn't imagine it becoming part of the library in a cohesive way.

With this said, TypeBox types are reflective and can be passed to a codec to construct an efficient encode/decode procedures (which is how libraries like [fast-json-stringify](https://github.com/fastify/fast-json-stringify#readme) work). Building something like this is a worthwhile project (albeit based on JSON schema specification and not TypeBox). If such an codec was developed, and was based on the JSON Schema specification, you could pass TypeBox types to it and everything should just work.

Thanks for the insights and discussions! Was an interesting thing to think about. Will close off this issue for now though.
Cheers!
S



Yeah, no worries. I wasn't posting for attention, just with updates as I learned new things. I do agree with you that validation and conversion are two distinct concerns, but I think I see more benefit in handling them in a cohesive, robust, typescript-forward library than you do. It's fine if this isn't that library, but I know I can't write and maintain the library I want right now 😅 I appreciate the time and consideration nevertheless. And nice work on this library, too!